body {
  background: #ff6f68;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ff6f68;
}

* {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

main, #notify-me-btn {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #notify-me-btn, #notify-me-btn #notify-me-btn {
  width: 200px;
  height: 70px;
  color: #ff6f68;
  z-index: 9999;
  top: 0%;
  background: #fafafa;
}

main div.animated-form, #notify-me-btn div.animated-form {
  background: #fafafa;
  padding: 10px;
  border-radius: 50px;
  vertical-align: middle;
  position: relative;
  height: 50px;
  width: 374px;
}

main div.animated-form h2, #notify-me-btn div.animated-form h2 {
  color: #ff6f68;
  position: absolute;
  top: 2px;
  letter-spacing: 0.1em;
}

main div.animated-form h2#email-title, #notify-me-btn div.animated-form h2#email-title {
  opacity: 0.5;
  left: 30px;
}

main div.animated-form h2#notify-me-title, #notify-me-btn div.animated-form h2#notify-me-title {
  left: 40%;
  display: none;
}

main div.animated-form h2#thank-you-title, #notify-me-btn div.animated-form h2#thank-you-title {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  visibility: hidden;
  left: 23%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main input[type=email]:focus,
main input[type=email]:active,
main button:focus,
main button:active, #notify-me-btn input[type=email]:focus,
#notify-me-btn input[type=email]:active,
#notify-me-btn button:focus,
#notify-me-btn button:active {
  outline: none;
}

main input[type=email],
main button, #notify-me-btn input[type=email],
#notify-me-btn button {
  border: none;
}

main input[type=email], #notify-me-btn input[type=email] {
  background: #fafafa;
  font-size: 24px;
  line-height: 16px;
  border: none;
  padding: 10px 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  color: transparent;
  text-shadow: 0 0 0 rgba(255, 111, 104, 0.8);
}

main button, #notify-me-btn button {
  cursor: pointer;
  font-size: 24px;
  height: 50px;
  color: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  margin-left: -5px;
  width: 100px;
  background: rgba(255, 111, 104, 0.8);
}

main button:hover, #notify-me-btn button:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

main button.active, #notify-me-btn button.active {
  color: white;
}

@-webkit-keyframes zoom-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    display: none;
  }
}

@keyframes zoom-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    display: none;
  }
}

@-webkit-keyframes zoom-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    visibility: visible;
  }
}

@keyframes zoom-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    visibility: visible;
  }
}

@-webkit-keyframes shrink {
  to {
    width: 200px;
  }
}

@keyframes shrink {
  to {
    width: 200px;
  }
}

@-webkit-keyframes grow {
  from {
    width: 200px;
  }
}

@keyframes grow {
  from {
    width: 200px;
  }
}

main .hidden,
main .submit, #notify-me-btn .hidden,
#notify-me-btn .submit {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: zoom-out;
          animation-name: zoom-out;
}

main .show, #notify-me-btn .show {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: zoom-in;
          animation-name: zoom-in;
  visibility: visible;
}

main .shrink, #notify-me-btn .shrink {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: shrink;
          animation-name: shrink;
}

main .grow, #notify-me-btn .grow {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
          animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: grow;
          animation-name: grow;
}

main .d-none, #notify-me-btn .d-none {
  display: none;
}
/*# sourceMappingURL=main.css.map */